* {
    box-sizing: border-box;
}

  body {
    font-family: Verdana, Arial, serif;
    font-size: 100%;
    color: rgb(194, 255, 209);
    background-color: rgb(0, 0, 0);
    margin: 0;
  }

#layout {
    display: grid;
    grid:  100px 1fr 100px / 100%;
    gap: 1em;
    margin: 0 20% 0 20%;
}

#top {
    grid-area: 1 / 1 / 1 / 1;
    background-color: rgba(6, 0, 88, 0.521);
    padding: 1em;
    text-align: center;
    border: 1px dashed #dfdfdf;
}

#main {
    grid-area: 2 / 1 / 2 / 1;
    background-color: rgba(6, 0, 88, 0.521);
    padding: 1em;
    text-align: center;
    border: 1px dashed #dfdfdf;
    /*overflow: scroll;*/
    word-wrap: break-word;
}

#bottom {
    grid-area: 3 / 1 / 3 / 1;
    background-color: rgba(6, 0, 88, 0.521);
    padding: 1em;
    text-align: center;
    border: 1px dashed #dfdfdf;
}

/*.ct {
    background-color: rgb(59, 0, 0);
}*/

@media screen and (min-width: 400px) {

}
@media screen and (min-width: 480px) {

}

@media screen and (min-width: 940px) {

}

@media screen and (max-width: 600px) {
    #layout {
         margin: 0;
    }
}