* {
    box-sizing: border-box;
}

  body {
    font-family: Verdana, Arial, serif;
    font-size: 100%;
    color: rgb(0, 0, 0);
    background-color: rgb(241, 226, 198);
    margin: 0;
  }

#layout {
    display: grid;
    grid:  50px 50px 30em 30em 50px / 50% 50%;
    gap: 1em;
    margin: 0 20% 0 20%;
}

#top {
    grid-area: 1 / 1 / 1 / 3;
    text-align: center;
    border: 1px dashed #aaaaaa;
    margin: 0 20%;
}

.input-box {
    grid-area: 2 / 1 / 3 / 3;
    text-align: center;
    border: 1px dashed #aaa;
    overflow: hidden;
    margin: 0 20%;    
}

    input { width: 100%; height: 100%; 
    font-size: x-large; border: 0 solid; padding: .2em; 
}
    input:focus::placeholder { color:transparent; }
 

#main {
    grid-area: 3 / 1 / 5 / 3;
    border: 1px dashed #aaa;
    display: grid;
    grid: 1fr / 2fr 1fr 1fr;
    gap: 1em;
    padding: 1em;
}

#left1 {
    grid-area: 1 / 1;
    text-align: center;
    border: 1px dashed #aaa;
    padding: 1em;
    word-wrap: break-word;
    overflow: auto;
}

#mid1 {
    grid-area: 1 / 2;
    text-align: center;
    border: 1px dashed #aaa;
    word-wrap: break-word;
    overflow: auto;
}

#right1 {
    grid-area: 1 / 3;
    text-align: center;
    border: 1px dashed #aaa;
    word-wrap: break-word;
    overflow: auto;
}

#left2 {
    grid-area: 4 / 1 / 5 / 1;
    text-align: center;
    border: 1px dashed #aaa;
    word-wrap: break-word;
    overflow: auto;
}

#right2 {
    grid-area: 4 / 2 / 5 / 3;
    text-align: center;
    border: 1px dashed #aaa;
    white-space: pre-line;
    overflow: auto;
}


#bottom {
    grid-area: 5 / 1 / 6 / 3;
    text-align: center;
    border: 1px dashed #aaa;
}

@media screen and (min-width: 400px) {

}
@media screen and (min-width: 480px) {

}

@media screen and (min-width: 940px) {

}

@media screen and (max-width: 600px) {
    #layout {
         margin: 0;
    }
}